<div class="my-decks-wrapper">

    <div class="my-decks-list-select">

        <input checked type="radio" id="added" name="my-decks-select" (change)="addedRadioChanged()">
        <label for="added">
            <app-translatable-text translateKey="myDecks.menu.added"/>
        </label>

        <input type="radio" id="created" name="my-decks-select" (change)="createdRadioChanged()">
        <label for="created">
            <app-translatable-text translateKey="myDecks.menu.created"/>
        </label>

    </div>

    <div class="my-decks-list">

        <div class="my-decks-added" *ngIf="isOnAddedList()">
            added
        </div>

        <div class="my-decks-created" *ngIf="!isOnAddedList()">
            created
        </div>

    </div>

</div>