<div class="my-decks-wrapper">

    <div class="my-decks-list-select">

        <input type="radio" id="added" name="my-decks-select">
        <label for="added">
            <app-translatable-text translateKey="myDecks.menu.added"/>
        </label>

        <input type="radio" id="created" name="my-decks-select">
        <label for="created">
            <app-translatable-text translateKey="myDecks.menu.created"/>
        </label>

    </div>

    <div class="my-decks-list">

        <div class="my-decks-added">

        </div>

        <div class="my-decks-created">

        </div>

    </div>

</div>