.header-account-wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 0 10px;
  position: relative;
}

.header-account-not-logged-in {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-account-not-logged-in button {

  background: var(--tertiary);
  border: 1px solid var(--secondary-border);
  border-radius: 15px;

  padding: 6px 12px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
  font-size: 0.8rem;

}

.header-account-not-logged-in button:hover {
  background: var(--tertiary-hover);
}

.header-account-icon {

  background: var(--primary);
  border: 1px solid var(--secondary-border);
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;

  font-size: 0.9rem;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.header-account-icon:hover:not(.header-account-icon-opened) {
  background: var(--primary-hover);
  border: 1px solid var(--secondary-border);
}

.header-account-icon-opened {

  background: var(--text-primary);
  color: var(--primary);
  border-color: var(--primary);

}

.header-settings-button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-settings-icon svg,
.header-settings-icon path {
  width: 18px;
  height: 18px;
  stroke: var(--text-primary);
}

.header-settings-dialog {
  background: transparent;
  border: none;
  position: absolute;
  left: 100%;
  transform: translateX(calc(-100% - 10px));
  top: calc(100% + 10px);
}

.header-settings-button:hover .header-settings-icon svg,
.header-settings-button:hover .header-settings-icon path {
  stroke-width: 1.9;
}