:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-card-wrapper {

  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr auto;

  width: fit-content;
  height: 100%;

}

.create-card-button {

  grid-row: span 2;
  align-self: center;
  display: flex;
  gap: 10px;

  margin-left: 20px;
  height: fit-content;

}

.create-card-button svg {
  stroke: var(--text-primary);
}