<div class="opened-deck-wrapper" *ngIf="!isDeckEmpty()">

    <div class="opened-deck-header">

        <div class="deck-options">

            <div class="language-select">

                <input #original checked type="radio" id="original" name="lang" (change)="selectLanguageOriginal()">
                <label for="original">
                    <img src="./flags/{{languageOriginal}}.svg" draggable="false">
                </label>

                <input #translate type="radio" id="translate" name="lang" (change)="selectLanguageTranslate()">
                <label for="translate">
                    <img src="./flags/{{languageTranslate}}.svg" draggable="false">
                </label>

            </div>

        </div>

        <div class="deck-title">{{deckName}}</div>

        <div class="deck-actions">

            <button class="deck-actions-button">

                <svg width="18px" height="18px" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3)">
                        <path d="m7 1.5h-4.5c-1.1045695 0-2 .8954305-2 2v9.0003682c0 1.1045695.8954305 2 2 2h10c1.1045695 0 2-.8954305 2-2v-4.5003682"/>
                        <path d="m14.5.46667982c.5549155.5734054.5474396 1.48588056-.0167966 2.05011677l-6.9832034 6.98320341-3 1 1-3 6.9874295-7.04563515c.5136195-.5178979 1.3296676-.55351813 1.8848509-.1045243z"/>
                        <path d="m12.5 2.5.953 1"/>
                    </g>
                </svg>

                <svg width="14px" height="14px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <div class="deck-actions-menu">

                    <div class="deck-action">
                        <div class="deck-action-icon">
                            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 12L12 12M12 12L17 12M12 12V7M12 12L12 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        Create card
                    </div>

                    <div class="deck-action">
                        <div class="deck-action-icon">
                            <svg width="13px" height="13px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        Edit deck
                    </div>

                </div>

            </button>

       </div>

    </div>

    <div class="card-counter">{{currentCardIndex()}}</div>

    <button class="switch-card-button" id="prev" (click)="prevCard()">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M9 6L15 12L9 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
        </svg>
    </button>

    <app-card #card></app-card>

    <button class="switch-card-button" id="next" (click)="nextCard()">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6L15 12L9 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>

    <div class="card-video-wrapper">

        <div *ngIf="this.currentVideo === undefined" class="no-videos">
            No videos for this card
        </div>

        <iframe *ngIf="this.currentVideo !== undefined" 
            [src]="this.currentVideo" 
            allowfullscreen>
        </iframe>

    </div>

</div>

<div class="empty-deck" *ngIf="isDeckEmpty()">

    <h2>
        <app-translatable-text translateKey="openedDeck.emptyDeck"></app-translatable-text>
    </h2>
    <button class="accent-button" (click)="createCardButtonClicked()">
        <app-translatable-text translateKey="openedDeck.createCard"></app-translatable-text>
    </button>

</div>

<dialog #createCardDialog class="create-card-dialog">
    <app-create-card></app-create-card>
</dialog>