:host {
  display: grid;
  align-items: center;
  justify-content: center;
}

.opened-deck-wrapper {

  display: grid;
  grid-template-rows: 30% min-content min-content;
  height: 100%;

}

.opened-deck-header {

  display: grid;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto 1fr auto;

  background: var(--secondary);
  border: 1px solid var(--secondary-border);

  padding: 20px;
  border-radius: 8px;

}

.deck-options {
  width: fit-content;
}

.language-select {
  display: flex;
  gap: 5px;
}

.language-select input {
  display: none;
}

.language-select label {

  display: flex;
  align-items: center;

  background: var(--tertiary);
  border: 1px solid transparent;

  padding: 6px 9px;
  border-radius: 4px;

  cursor: pointer;
  transition: background 200ms ease-out;

}

.language-select label:hover {
  border-color: var(--secondary-border);
}

input[type="radio"]:checked + label {
  background: var(--accent);
}

.language-select label img {
  height: 12px;
}

.deck-title {
  font-weight: bold;
  text-align: center;
  margin: 0 40px;
}

.deck-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.shuffle-deck-button {

  display: flex;
  align-items: center;

  background: var(--tertiary);
  border: none;

  padding: 5px 8px;
  border-radius: 4px;

  cursor: pointer;
  transition: background 100ms ease-in-out;

}

.shuffle-deck-button:hover {
  background: var(--tertiary-hover);
}

#shuffle {
  display: none;
}

#shuffle:checked + .shuffle-deck-button {
  background: var(--accent);
}

.shuffle-deck-button svg {
  fill: var(--text-primary);
}

.deck-actions-button {

  display: flex;
  align-items: flex-end;
  gap: 4px;

  background: var(--tertiary);
  border: none;
  border-radius: 4px;
  padding: 5px 11px;

  position: relative;
  transition: background 100ms ease-in-out;

}

.deck-actions-button:hover {
  background: var(--tertiary-hover);
}

.deck-actions-button:hover .deck-actions-menu {
  transform: scale(1);
}

.deck-actions-button svg {
  stroke: var(--text-primary);
}

.deck-actions-menu {

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 104%;
  right: 0;

  padding: 5px 0;
  background: var(--tertiary);
  border-radius: 4px;

  width: fit-content;
  transform: scale(0);
  transform-origin: 85% 0;
  transition: transform 100ms ease-in-out;

}

.deck-action {

  display: flex;
  align-items: center;
  white-space: nowrap;

  padding: 8px 15px;
  padding-left: 8px;
  font-size: .9rem;

  cursor: pointer;
  user-select: none;
  transition: background 100ms ease-in;

}

.deck-action:hover {
  background: var(--tertiary-hover);
}

.deck-action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
}

.deck-action-icon svg {
  stroke: var(--text-secondary);
}

.card-section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 15px 30px;
  height: fit-content;
}

.card-counter {
  grid-column: span 3;
  text-align: center;
  align-self: flex-end;
  width: 100%;
}

app-card {
  justify-self: center;
}

.switch-card-button {
  background: none;
  border: none;
  cursor: pointer;
}

.switch-card-button svg {
  stroke: var(--text-primary);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card-options {
  align-self: start;
  margin-top: 25%;
}

.card-option {

  display: flex;
  align-items: center;
  gap: 4px;

  background: var(--tertiary);
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: background 100ms ease-in-out;

}

.card-option:hover {
  background: var(--tertiary-hover);
}

.card-option svg {
  stroke: var(--text-secondary);
}

.empty-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
}

.empty-deck h2 app-translatable-text {
  color: var(--text-secondary);
  font-size: 1.1rem;
}

iframe {
  width: 800px;
  height: 450px;
}

dialog {

  background: var(--secondary);
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  padding: 50px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}