.auth-form {

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-border);
  padding: 20px 30px;
  border-radius: 12px;
  background: var(--secondary);
  color: var(--secondary-foreground);
  display: grid;
  gap: 15px;

}

.auth-header {
  margin-bottom: 10px;
}

.auth-input {
  display: flex;
  flex-direction: column;
}

.auth-input input {

  grid-row: 2;
  grid-column: 1/3;
  background: none;
  border: 1px solid var(--secondary-border);
  border-radius: 4px;
  color: var(--secondary-foreground);
  padding: 9px;
  margin-top: 4px;
  outline: none;
  transition: border-color 300ms ease;
  font-size: 0.9rem;

}

.auth-input input:focus {
  border: 1px solid var(--primary-border) !important;
}

.auth-input label {
  color: var(--secondary-foreground)
}

.auth-input .border-blink {
  border-color: var(--warning-border);
}

.submit-button {

  background: var(--tertiary);
  border: 1px solid var(--secondary-border);
  border-radius: 4px;
  color: var(--tertiary-foreground);
  padding: 8px 15px;
  width: fit-content;
  transition: background 250ms ease;
  transition: border-color 250ms ease;
  cursor: pointer;
  outline: none;
  font-size: 0.95rem;
  margin-top: 10px;

}

.submit-button:hover,
.submit-button:focus {
  background: var(--tertiary-hover);
}