:host {
  --results-gap: 50px;
}

.search-decks-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
  justify-content: center;
}

.search {
  align-items: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 700px;
  padding: 30px;
  gap: 10px;
}

.search-wrapper {
  align-items: center;
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2px 10px;
}

.search input {
  border: none;
  background: none;
  padding: 5px;
  line-height: 1.5;
}

.search button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.filters-button {
  background: none;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--primary-border);
  transition: background 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.filters-button:hover {
  background: var(--primary-hover);
  /* border-color: var(--primary-border-hover); */
}

.filters-icon {
  width: 17px;
  height: 17px;
  margin-left: 6px;
  stroke: var(--text-primary);
}

.search-button {
  background: none;
  border: none;
}

.search-icon {
  width: 16px;
  height: 16px;
  stroke: var(--text-primary);
}

.results {
  display: grid;
  gap: var(--results-gap);
  grid-template-columns: repeat(auto-fit, calc(300px + var(--results-gap)));
  grid-template-rows: repeat(auto-fit, calc(150px + var(--results-gap)));
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.counter {
  padding: 30px
}