* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cantarell;
  letter-spacing: 0.3px;
  outline: none;
  color: var(--text-primary);
}

body, html {
  font-size: 14px;
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

* {
  user-select: none;
}

*:hover {
  user-select: text;
}