.light-theme {

  --text-primary: #131313;
  --text-secondary: #5d5d5d;

  --primary: #ffffff;
  --primary-border: #dcdcdc;

  --primary-hover: #e0e0e0;

  --secondary: #f5f5f5;
  --secondary-border: #bdbdbd;

  --secondary-hover: #cccccc;

  --tertiary: #fafafa;

  --tertiary-hover: #e0e0e0;

  --warning-border: #F44336;

  --card-original: #D0D4F2;
  --card-translate: #F0A3B1;


}