.light-theme {
  --text-primary: #131313;
  --text-secondary: #5d5d5d;

  --primary: #ffffff;
  --primary-border: #9c9494;

  --primary-hover: #e0e0e0;

  --secondary: #e0e0e0;
  --secondary-border: #bdbdbd;

  --secondary-hover: #d5d5d5;

  --tertiary: #f4f4f4;
  
  --tertiary-hover: #e0e0e0;
  
  --warning-border: #F44336;

  --card-original: #D0D4F2;
  --card-translate: #F0A3B1;

  --accent: #F48FB1;
  --accent-hover: #F0A3B1;

}