.tuyu-theme {

  --delft-blue: #423E68;
  --space-cadet: #25243F;
  --french-gray: #CEC8CC;
  --space-cadet-2: #39314F;
  --oxford-blue: #18192D;
  --dark-purple: #30243D;
  --timberwolf: #E8DCD9;
  --sky-magenta: #B76896;
  --ultra-violet: #534E73;
  --ecru: #C8B57E;

  --text-primary: var(--timberwolf);
  --text-secondary: var(--french-gray);

  --primary: var(--space-cadet);
  --primary-border: var(--french-gray);

  --primary-hover: var(--space-cadet-2);

  --secondary: var(--oxford-blue);
  --secondary-border: var(--ultra-violet);

  --secondary-hover: var(--dark-purple);

  --tertiary: var(--delft-blue);

  --tertiary-hover: var(--space-cadet-2);

  --warning-border: var(--sky-magenta);

  --card-original: var(--space-cadet-2);
  --card-translate: var(--sky-magenta);

  /* background: radial-gradient(circle at 10% 10%, rgba(36, 33, 59, 0.9), rgba(24, 25, 45, 0.7)),
  linear-gradient(135deg, rgba(42, 40, 68, 0.6) 0%, rgba(24, 25, 45, 1) 100%),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100" height="100" filter="url(#noise)" opacity="0.5"/></svg>') !important;
  background-blend-mode: overlay, multiply;

 */
  background: radial-gradient(circle at 50% 50%, rgba(36, 33, 59, 0.9), rgba(24, 25, 45, 1)),
  linear-gradient(135deg, rgba(42, 40, 68, 0.6) 0%, rgba(24, 25, 45, 1) 100%),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100" height="100" filter="url(#noise)" opacity="0.5"/></svg>') !important;
  background-blend-mode: overlay, multiply;

}

.primary-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}