.languages-selector {

  position: relative;
  background: var(--tertiary);
  padding: 10px 6px 10px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 5px;
  text-transform: capitalize;
  transition: background 100ms ease-in-out;

}

.arrow svg {
  stroke: var(--text-secondary);
}

.languages-options {
  color: var(--text-secondary);
  position: absolute;
  left: 50%;
  transform: scale(0) translateX(-50%);
  transition: transform 150ms ease-in-out;
  transform-origin: 25% top;
  top: 110%;
  list-style: none;
  background: var(--tertiary);
  border-radius: 3px;
  padding: 5px 0;
}

.languages-selector:hover .languages-options {
  transform: scale(1) translateX(-50%);
  transform-origin: 25% top;
}

.languages-selector:hover {
  background: var(--tertiary-hover);
}

.languages-options li {
  display: flex;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 3px;
  gap: 8px;
  align-items: center;
}

.languages-options li:hover {
  background: var(--tertiary-hover);
}

.selected-language {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 8px;
}

.selected-language-text {
  justify-self: center;
}

.selected-language img,
.languages-options li img {
  width: 12px;
  height: 12px;
}